// Required
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// en este punto podemos personalizar el valor de las variables que usa bootstrap
// $body-bg: #FF0000;

// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";

// importar TODO bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// declarar variables
// $bg-color: #FF0000;

// html {
//     background-color: $bg-color;
// }